body {
    background: #ebebeb;
}

.game-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.game {
    background: rgb(144, 10, 10);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}